@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
     font-family: "Saira", sans-serif;
}

h1,h2,h3,h4{
    font-family: "Orbitron",sans-serif;
}

@keyframes float{
    0%,100%{transform: translateY(0);}
}
.floating{
    animation: float 6s ease-in-out infinite;
}

.font-orbitron{
    font-family: 'Orbitron';
}